<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<center>
		
		<form th:object="${boardCreateForm}" method="post" th:action="@{/board/create}">
		<div role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
		</div>
		<div>
			<label for="subject">제목</label>
			<input type="text" name="subject" th:field="*{subject}">
		</div>
		<div>
			<label for="content">내용</label>
			<textarea rows="10" cols="50" type="text" name="content" th:field="*{content}"></textarea>
		</div>
		<div>
			<input type="submit" value="등록하기">
		</div>
		</form>
	</center>
</body>
</html>